body {
  font-family: Arial, sans-serif;
  margin: 2rem;

  color: #2601cb;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.item {
  display: block;
  width: 100%;
  max-width: none;
  height: auto;
}

.item img {
  width: 100%;
  display: block;
}

.item p {
  max-width: none;
  width: 100%;
  margin: 0.5rem 0 1rem;
}

.grid p {
  font-size: 0.7rem;
  font-weight: bold;
  max-width: none;
  width: 100%;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  /* font-size: 2rem; */
}

.hero {
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-bottom: 1rem;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  color: white;
  background-color: #2601cb;
  text-decoration: none;
}

.back {
  display: inline-block;
  margin-bottom: 1rem;
}

.home-centered {
  max-width: 700px;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

.centered-block {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.centered-block img {
  display: block;
  margin: 1rem auto;
  max-width: 70%;
  /* min-width: 300px; */
  height: auto;
}

h1 {
  text-transform: uppercase;
  font-size: clamp(15px, 1.5vw, 35px);
  text-align: center;
  padding-bottom: 1rem;
}

h2 {
  text-transform: uppercase;
  /* font-size: clamp(16px, 60vw, 24px); */
  font-size: clamp(20px, 3vw, 48px);
}

h3 {
  /* padding-top: 1rem; */
}

h4 {
  padding-top: 0;
  margin-top: 0;
  font-size: clamp(15px, 1.5vw, 35px);
}

li {
  max-width: 700px;
  list-style-type: none;
}
ul {
  padding-left: 0;
}

.page-layout {
  /* display: grid; 
   grid-template-columns: minmax(0, 700px) 260px;
  gap: 2rem;
  align-items: start;*/
  display: block;
  max-width: 800px;
  margin: 0 auto;
}

.inventory-strip {
  /* position: sticky; */
  position: static;
  margin-top: 3rem;
  border: 1px solid #2601cb;
  padding: 1rem;
}

/* .inventory-strip h3 {
  color: white;

  padding-top: 1rem;
}

.inventory-strip p {
  color: white;
  padding-top: 1rem;
} */

.project-strip {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.strip-item {
  /* display: block; */
  width: 100%;
}

.strip-item img {
  width: 100%;
  height: auto;
  display: block;
}

.strip-item p {
  width: 100%;
  max-width: none;
  display: block;
  font-size: clamp(12px, 1vw, 16px);
}

@media (max-width: 600px) {
  body {
    font-size: 0.85rem;
  }

  .page-layout {
    grid-template-columns: 1fr;
  }

  .inventory-strip {
    position: static;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
